html {
  font-size: 62.5%;
}

body {
  width: 80.0rem;
  height: 100vh;
  margin: 0;
  background-color: #f7f7f7;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 4.0rem;
  background-color: #00aaff;
}
nav > div {
  display: flex;
  align-items: center;

  padding: 0 1.0rem;
}
nav > div > * { margin-left: 0.6rem; }
nav > div > *:first-child { margin-left: 0; }
nav > div > button,
nav > div > input,
nav > div > select {
  height: 2.2rem;
  border: 0;
  border-radius: 0.4rem;
  background-color: white;
  outline: 0;
}
nav > div > input { padding: 0 0.6rem; }
nav > div > label {
  font-size: 1.2rem;
  font-weight: 700;
  color: #fff;
  letter-spacing: 0.05rem;
  text-transform: uppercase;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  max-height: 56.0rem;
  padding: 1.0rem 0;
  overflow: auto;
}

#gallery > .cell {
  display: flex;
  position: relative;
  margin: 1.0rem;
  box-sizing: border-box;
}

#gallery > .cell > .icon-checkmark {
  content: '\e900';

  display: none;
  align-items: center;
  justify-content: center;

  position: absolute;
  top: 0.6rem;
  right: 0.6rem;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 100%;
  border: solid 0.2rem transparent;
  background-color: #00aaff;

  font-family: 'scraper' !important;
  font-size: 1.0rem;
  color: white;
}

#gallery > .cell.selected {
  border-color: #00aaff;
}

#gallery > .cell.selected > .icon-checkmark {
  display: flex;
}

#gallery > .cell:hover > .icon-checkmark {
  display: flex;
  opacity: 0.6;
}

#gallery > .cell.selected:hover > .icon-checkmark {
  opacity: 1.0;
}

#empty {
  display: none;
  align-items: center;
  justify-content: center;

  width: 100%;
  height: 10.0rem;

  font-size: 1.4rem;
  color: #999;
}