html {
  font-size: 62.5%;
}

body {
  width: 80.0rem;
  margin: 0;
  background-color: #f7f7f7;
}

nav {
  display: flex;
  align-items: center;

  padding: 1.0rem;
  background-color: #00aaff;
}

#gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

#gallery > img {
  margin: 1.0rem;
  box-sizing: border-box;
  border: solid 0.3rem transparent;
}

#gallery > img.selected {
  border-color: green;
}

#gallery > img:hover {
  border-color: #00aaff;
}